
.rbc-events-container {
  /* using Antd-Colors */
  --antd-yellow-5:  #ffec3d;
  --antd-yellow-6:  #fadb14;
  --antd-yellow-7: #d4b106;
  --antd-yellow-8:  #ad8b00;
  --antd-yellow-9: #876800;

  --antd-green-5:  #73d13d;
  --antd-green-6:  #52c41a;
  --antd-green-7:  #389e0d;
  --antd-green-8:  #237804;
  --antd-green-9:  #135200;

  --antd-blue-5:  #40a9ff;
  --antd-blue-6:  #1890ff;
  --antd-blue-7:  #096dd9;
  --antd-blue-8:  #0050b3;
  --antd-blue-9:  #003a8c;

  --antd-purple-5:  #9254de;
  --antd-purple-6:  #722ed1;
  --antd-purple-7:  #531dab;
  --antd-purple-8:  #391085;
  --antd-purple-9:  #22075e;

  --antd-magenta-5:  #f759ab;
  --antd-magenta-6:  #eb2f96;
  --antd-magenta-7:  #c41d7f;
  --antd-magenta-8:  #9e1068;
  --antd-magenta-9:  #780650;

  margin-right: 0 !important;
}

.rbc-event {
  width: calc(20% - 1px) !important;
  padding: 0;
  margin-left: 1px;
  border-radius: 3px;
}

.rbc-event-label {
  display: none;
}

.rbc-event.platz-1 {
  left: 0 !important;
  background-color: var(--antd-yellow-6);
  border-color: var(--antd-yellow-7);
}
.rbc-event.platz-1.rbc-selected {
  border-color: var(--antd-yellow-8);
  box-shadow: 0 0 2px 2px inset var(--antd-yellow-7);
}

.rbc-event.platz-2 {
  left: 20% !important;
  background-color: var(--antd-green-6);
  border-color: var(--antd-green-7);
}
.rbc-event.platz-2.rbc-selected {
  border-color: var(--antd-green-8);
  box-shadow: 0 0 2px 2px inset var(--antd-green-7);
}

.rbc-event.platz-3 {
  left: 40% !important;
  background-color: var(--antd-blue-6);
  border-color: var(--antd-blue-7);
}
.rbc-event.platz-3.rbc-selected {
  border-color: var(--antd-blue-8);
  box-shadow: 0 0 2px 2px inset var(--antd-blue-7);
}

.rbc-event.platz-4 {
  left: 60% !important;
  background-color: var(--antd-purple-6);
  border-color: var(--antd-purple-7);
}
.rbc-event.platz-4.rbc-selected {
  border-color: var(--antd-purple-8);
  box-shadow: 0 0 2px 2px inset var(--antd-purple-7);
}

.rbc-event.platz-5 {
  left: 80% !important;
  background-color: var(--antd-magenta-6);
  border-color: var(--antd-magenta-7);
}
.rbc-event.platz-5.rbc-selected {
  border-color: var(--antd-magenta-8);
  box-shadow: 0 0 2px 2px inset var(--antd-magenta-7);
}

.emph {
  font-weight: bold;
  font-size: larger;
}

/* ----------- Additional Styles for Direflow-Webkomponente (Anzeige Platzbelegung) --------- */
.web-component.tcw-platzbelegung .rbc-toolbar .rbc-button {
  color: #E30615 !important;
}

/*
.web-component.tcw-platzbelegung .rbc-time-header-content {
  line-height: 40px;
}
*/

.web-component.tcw-platzbelegung .rbc-time-header-content .rbc-header, .rbc-agenda-view .rbc-agenda-table .rbc-header {
  color: white;
  background-color: #E30615;
/*    margin: auto auto; */
}

.web-component.tcw-platzbelegung .rbc-time-header-content .rbc-time-header-cell {
  min-height: 48px;
}
.web-component.tcw-platzbelegung .rbc-time-header-content .rbc-time-header-cell .rbc-header {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
}

@media (max-width: 480px) { /* reduce fonts for small screens */
  .web-component.tcw-platzbelegung .rbc-toolbar .rbc-button {
      padding-left: 6px;
      padding-right: 6px;
      font-size: 12px;
  }
  .rbc-time-gutter { font-size: 12px; }
/*    .rbc-label.rbc-time-header-gutter { width: 40px; max-width: none; min-width: none;} */
}

/* ----------- END Additional Styles for Direflow-Webkomponente (Anzeige Platzbelegung) --------- */
  